.container {
  max-width: 1200px;
  margin: 0 auto;
  /* border: 1px solid black; */
  padding-bottom: 48px;
}
.container .header {
  padding: 64px 0px;
  text-align: center;
  /* border: 1px solid black; */
}

.section {
  padding: 0px 16px;
}

.section .section_header {
  border-bottom: 1px solid var(--color-grayscale-600);
  padding-bottom: 16px;
  /* margin-bottom: 48px; */
}

.section .section_inner {
  display: flex;
  flex-direction: row-reverse;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .section .section_inner {
    display: flex;
    flex-wrap: wrap;
  }
  .section .section_inner .slide_wrap {
    /* display: flex; */
    /* flex-direction: column; */
    width: 100%;
  }

  .section .section_inner aside {
    display: flex;
    padding: 0px 0px;
    width: 500px;
  }

  .section .section_inner aside .box .btn_wrap .btn {
    font-size: 12px;
  }
}

.section .section_inner .slide_wrap {
  display: flex;
  flex-direction: column;
  /* border: 1px solid purple; */
}

.section .section_inner .slide_wrap .slide_container {
  padding-top: 48px;
}

.section .section_inner .slide_wrap .slide_container .slide {
  /* border: 1px solid black; */
  max-width: 660px;
  width: 100%;
}

.section .section_inner .box_wrap {
  display: flex;
  padding: 80px 16px 0px 16px;

  /* max-width: 500px; */
  width: 100%;
  /* margin-bottom: 48px; */
}
.section .section_inner .box_wrap .box {
  /* position: fixed; */
  /* right: 0; */
  display: flex;
  flex-direction: column;
  padding: 32px;
  width: 100%;
  height: fit-content;
  /* flex-wrap: wrap;
  align-content: space-between; */
}

.section .section_inner .box_wrap .box .button_selected_all {
  width: 100%;
  padding: 16px;
}

.section .section_inner .box_wrap .box .box_desc {
  padding: 32px 0px;
  width: 100%;
}

.section .section_inner .box_wrap .box .box_desc .desc {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 12px;
  width: 100%;
  line-height: 150%;
}

.section .section_inner .box_wrap .box .box_desc .desc .desc_tit {
  width: 88px;
}
.section .section_inner .box_wrap .box .box_desc .desc .desc_txt {
  width: 320px;
}

.section .section_inner .box_wrap .box .btn_wrap {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid red; */
}

/* slide */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper .swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper .swiper-wrapper .swiper-slide {
  /* width: 200px;
  height: 100px; */
  /* border: 1px solid blue; */
  /* align-items: center; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center;
  line-height: 100px;
  box-sizing: border-box;
  font-size: 25px; */
}

.swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  /* height: auto; */
  object-fit: cover;
}

/* pagination 커스텀 */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: var(--color-main-green);
}

/* 화살표 커스텀 */
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: gray;
}

.swiper .swiper-button-prev:hover,
.swiper .swiper-button-next:hover {
  color: var(--color-main-green);
}
