ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  width: 100%;
  height: 100%;
}

/* header */
/* container */
header {
  width: 100%;
  height: 112px;
  flex-shrink: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 9999;
}
.container {
  display: inline-flex;
  width: 1200px;
  padding: 16px 0 12px 0;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
}
.logo_wrap {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.login_wrap {
}
.login_wrap .login_logout {
  display: flex;
  align-items: center;
  gap: 24px;
}
.login_wrap .login_logout .search_outline {
}
.login_wrap .login_logout .search_outline .search {
  display: flex;
  height: 36px;
  padding: 8px 24px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 999px;
  background: var(--gy-1, #f5f5f9);
}
.login_wrap .login_logout .search_outline .search .text {
  background: var(--gy-1, #f5f5f9);
  background-image: url(./src/img//search.png);
  background-repeat: no-repeat;
  background-position: 160px;
}
.login_wrap .login_logout .search_outline .search .text:focus {
  outline: none;
}
.login_wrap .login_logout .search_outline .search input[type='text'] {
  border: solid 0px;
}
.login_wrap .login_logout .search_outline.search .search_img {
}
.login_wrap .login_logout .alarm {
  width: 28px;
  height: 28px;
  padding: 1px 3px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.login_wrap .login_logout .profile {
  width: 28px;
  height: 28px;
  padding: 2px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* container2 */
header .container2 {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  padding: 0 0 16px 0;
}
header .container2 ul {
  display: flex;
}

header .container2 li {
  color: #c6c6d0;
  padding: 8px;
  margin-right: 12px;
}
header .container2 li a {
}
.container2 div {
  display: flex;
  justify-content: center;
  line-height: 20px;
}
