ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  width: 100%;
  height: 100%;
}



/* header */
/* container */
header {
  padding: 16px 0;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 999;
}
/* header {
  width: 100%;
  height: 112px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
} */
header .util_wrap {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
/* .container {
  display: inline-flex;
  width: 1200px;
  padding: 16px 0 12px 0;
  align-items: center;
  justify-content: space-between;
} */
header .util_wrap .logo {
  height: 36px;
}
header .util_wrap .logo a {
  display: inline-block;
  height: 36px;
}
/* .logo {
  display: flex;
} */
/* .logo_wrap {
  display: flex;
  flex-direction: row;
  align-items: end;
} */

header .login_wrap {
  display: flex;
  align-items: center;
  gap: 24px;
}
header .login_wrap .search {
  height: 36px;
  width: 210px;
  padding: 8px 24px;
  border-radius: 999px;
  background: var(--gy-1, #f5f5f9);
}
/* .login_wrap .search {
  display: flex;
  height: 36px;
  padding: 8px 24px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 999px;
  background: var(--gy-1, #f5f5f9);
} */
header .login_wrap .search input {
  width: 100%;
  background: var(--gy-1, #f5f5f9);
  background-image: url(/src/img//search.png);
  background-repeat: no-repeat;
  background-position: calc(100%);
  border: none;
}
header .login_wrap .search input:focus {
  outline: none;
}
/* .login_wrap .search input[type='text'] {
  border: solid 0px;
} */
header .login_wrap .alarm {
  width: 28px;
  height: 28px;
  /* padding: 1px 3px;
  justify-content: center;
  align-items: center;
  gap: 10px; */
}
header .login_wrap .profile {
  width: 28px;
  height: 28px;
  /* padding: 2px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px; */
}
/* container2 */
header .gnb_wrap {
  justify-content: space-between;
  align-items: center;
}

/* header .container2 {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  padding: 0 0 16px 0;
} */
header .gnb_wrap .gnb {
  gap: 12px;
}
/* header .container2 ul {
  display: flex;
} */
header .gnb_wrap .gnb li {
  padding: 8px;
  cursor: pointer;
  letter-spacing: -0.4px;
}
/* header .container2 li {
  color: #c6c6d0;
  padding: 8px;
  margin-right: 12px;
} */
header .gnb_wrap .gnb li.line {
  color: #c6c6d0;
  padding: 8px 0;
}
header .gnb_wrap .gnb li .nav_text2 {
  /* color: #c6c6d0; */
  letter-spacing: 1px;
}
header .gnb_wrap .desc_text {
  align-items: center;
  letter-spacing: -0.4px;
}
header .gnb_wrap .desc_text img {
  margin-left: 5px;
}
