body {
  /* overflow: hidden; */
}

/* advert_box */
.advert_box {
  gap: 12px;
  justify-content: center;
  margin-bottom: 80px;
}
/* advert */
/* .advert {
  display: flex;
  justify-content: space-between;
  margin-top: 112px;
} */
/* swiper */
.advert_box .swiper {
  width: 906px;
  height: 260px;
  margin: 0 !important;
  border-radius: 8px;
}

.advert_box .swiper-slide {
  overflow: hidden;
}
.advert_box .swiper-slide .count {
  position: relative;
  top: 218px;
  left: 830px;
  width: 60px;
  height: 26px;
  border-radius: 999px;
  background-color: #fff;
  text-align: center;
  line-height: 26px;
  letter-spacing: 1.12px;
}
.advert_box .swiper-slide .slide-tit {
  position: relative;
  top: 35px;
  left: 80px;
}
.advert_box .swiper-slide .slide-tit .slide_title {
  letter-spacing: -1px;
  margin-bottom: 24px;
}
.advert_box .swiper-slide img {
  position: relative;
  top: -130px;
  left: 639px;
}
.advert_box .ad_left,
.advert_box .ad_right {
  position: relative;
  display: none;
}
.advert_box .ad_left {
  left: 16px;
}
.advert_box .ad_right {
  right: 16px;
}

.advert_box .swiper:hover .ad_left,
.advert_box .swiper:hover .ad_right {
  display: block;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
/* 랜덤매칭 신청&프로젝트 생성 */
.box_wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* justify-content: space-between; */
}
.box_wrap a {
  flex: 1;
  display: block;
}
.box_wrap .green_box {
  width: 282px;
  height: 100%;
  background-color: #2da96e;
  border-radius: 8px;
  text-align: right;
  padding: 40px 32px 0;
  gap: 8px;
}
.box_wrap .green_box .banner_point {
  /* margin-bottom: 12px; */
  font-weight: 400;
}

/* container */
.container {
  margin: 0 auto;
  max-width: 1200px;
  /* padding: 0 20px; */
}

/* main */
main {
}
/* section*/
main .section1 {
  margin-bottom: 80px;
}

/* main section .sub_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} */

main .section1 .sub_wrap {
  margin-bottom: 24px;
}
main .section1 .sub_wrap .sub_tit {
  margin-bottom: 12px;
  font-weight: 600;
  text-align: center;
  letter-spacing: -1px;
}

main .section1 .sub_wrap .sub_tit img {
  margin-left: 5px;
}
main .section1 .sub_wrap .sub_tit2,
section .sub_wrap .sub_tit2 {
  font-size: 32px;
  text-align: center;
  letter-spacing: -1px;
}
main .section1 .sub_wrap .sub_tit2 span {
  color: #464656;
}
main .section1 .select_wrap {
  justify-content: center;
  gap: 12px;
}
/* main section .select {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
} */
main .section1 .select_wrap li {
  width: 180px;
  height: 65px;
  border-radius: 4px;
  background: #4f4f4f;
  box-shadow: 2px 2px 4px 0px rgba(223, 223, 223, 0.25);
}
main .section1 .select_wrap li a {
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

/* card_sec */
/* .card_sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
/* .card_sec .pr_tit {
  display: flex;
  line-height: 24px;
} */
.card_sec {
  margin-bottom: 70px;
}
.card_sec .project_tit {
  margin-bottom: 12px;
}
.card_sec .project_tit a {
  padding: 0;
  display: flex;
  align-items: center;
}
.card_sec .project_subtitle_wrap {
  justify-content: space-between;
  margin-bottom: 24px;
}
.card_sec .project_subtitle_wrap .project_subtitle {
  padding: 0;
}
.card_sec .card_wrap {
  display: flex;
  justify-content: space-between;
}
/* .card_sec .card_wrap div div div {
  cursor: pointer;
} */
.card_sec .card_wrap .card_tit {
  margin-bottom: 16px;
}

.card_sec .card_footer .recruiting_wrap {
  gap: 4px;
}
.card_sec .card_footer .recruiting_wrap img {
  width: 100%;
}
.card_sec .modal li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid var(--color-grayscale-200);
}
.card_sec .modal li:first-child {
  padding-top: 0;
}
.card_sec .modal li:last-child {
  padding-bottom: 0;
}
.card_sec .modal li .flex_box_column {
  gap: 8px;
}

/* section4 */
/* .section4 {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
/* .section4 .section4_wrap {
  width: 1200px;
} */
/* .section4 .pr_tit {
  display: flex;
  line-height: 24px;
}
.section4 .pr_tit span {
  margin-left: 8px;
}
.section4 .project_subtitle_wrap {
  width: 1200px;
  display: flex;
  justify-content: space-between;
} */
/* .section4 .completed_project_picture {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
} */

/* 공간예약 */

section .sub_wrap {
  margin: 96px 0px;
}

section .title_wrap {
  /* border: 1px solid red; */
}

section .title_wrap .sub_tit {
  font-weight: 600;
  text-align: center;
  letter-spacing: -1px;
}

section .title_wrap .sub_tit2 {
  margin-bottom: 8px;
  font-weight: 600;
  text-align: center;
  letter-spacing: -1px;
}

.cards_container {
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  flex-wrap: wrap;
  /* border: 1px solid red; */
  padding-top: 45px;
}

.card_img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 318px;
  height: 176px;
  margin-bottom: 16px;
  /* margin-right: 24px; */
  /* margin: 0 24px 24px 0; */
  /* width: 384px; */
  /* height: 210px; */
}

@media screen and (max-width: 1600px) {
  .cards_container {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    /* flex-wrap: wrap; */
    /* border: 1px solid red; */
    /* padding-top: 45px; */
  }

  .card_img {
    margin: 16px;
  }
}
