/* advert_box */
.advert_box {
  gap: 12px;
  justify-content: center;
  margin-bottom: 80px;
}
.advert_box .swiper {
  width: 906px;
  height: 260px;
  margin: 0 !important;
  border-radius: 8px;
}
.advert_box .swiper .count {
  position: absolute;
  left: auto;
  right: 16px;
  bottom: 16px;
  width: 60px;
  height: 26px;
  border-radius: 999px;
  background-color: #fff;
  text-align: center;
  line-height: 26px;
  z-index: 999;
  color: #626273;
}
.advert_box .swiper-slide {
  overflow: hidden;
}
.advert_box .swiper-slide .slide-tit {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 80px;
  z-index: 1;
  width: 80%;
}
.advert_box .swiper-slide .slide-tit .slide_title2 {
  letter-spacing: -1.28px;
  margin-bottom: 16px;
}

.advert_box .swiper-slide .slide-tit .slide_title {
  letter-spacing: -1px;
  margin-bottom: 16px;
  position: relative;
}
.advert_box .swiper-slide img {
  /* position: relative; */
  /* top: -90px; */
  /* left: 639px; */
  position: absolute;
  top: 40px;
  right: 8%;
  /* left: 70%; */
}
.advert_box .ad_left,
.advert_box .ad_right {
  position: relative;
  display: none;
}
.advert_box .ad_left {
  left: 16px;
}
.advert_box .ad_right {
  right: 16px;
}
.advert_box .swiper:hover .ad_left,
.advert_box .swiper:hover .ad_right {
  display: block;
  z-index: 2;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

/* 랜덤매칭 신청&프로젝트 생성 */
.box_wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.box_wrap a {
  flex: 1;
  display: block;
}
.box_wrap .green_box {
  width: 282px;
  height: 100%;
  background-color: #2da96e;
  border-radius: 8px;
  text-align: right;
  padding: 40px 32px 0;
  gap: 8px;
}
.box_wrap .green_box .banner_point {
  font-weight: 400;
}

/* container */
.container {
  margin: 0 auto;
  max-width: 1200px;
}

/* main */
main .section1 {
  margin-bottom: 80px;
}
main .section1 .sub_wrap {
  margin-bottom: 24px;
}
main .section1 .sub_wrap .sub_tit {
  margin-bottom: 12px;
  font-weight: 600;
  text-align: center;
  letter-spacing: -1px;
}
main .section1 .sub_wrap .sub_tit img {
  margin-left: 5px;
}
main .section1 .sub_wrap .sub_tit2 {
  font-size: 32px;
  text-align: center;
  letter-spacing: -1px;
}
main .section1 .sub_wrap .sub_tit2 span {
  color: #464656;
}
main .section1 .select_wrap {
  justify-content: center;
  gap: 12px;
}
main .section1 .select_wrap li {
  width: 180px;
  /* padding: 16px 32px; */
  height: 65px;
  border-radius: 4px;
  background: #4f4f4f;
  box-shadow: 2px 2px 4px 0px rgba(223, 223, 223, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
main .section1 .select_wrap li a {
  height: 100%;
}

/* card_sec */
.card_sec {
  margin-bottom: 70px;
}
.card_sec .project_tit {
  margin-bottom: 12px;
  padding: 0;
}
.card_sec .project_subtitle_wrap {
  justify-content: space-between;
  margin-bottom: 24px;
}
.card_sec .project_subtitle_wrap .project_subtitle {
  padding: 0;
}
.card_sec .card_wrap {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  flex-wrap: wrap; */
  display: flex;
  width: 100%;
  height: 100%;
  /* justify-content: space-between; */
  overflow-x: scroll;
}

.card_sec .card_wrap li {
  /* width: 100%; */
  /* margin-right: 24px; */
}

.card_sec .card_wrap li.card:not(:last-child) {
  margin-right: 24px;
}
/* .card_sec .card_wrap li.card {
  margin-right: 24px;
} */

.card_sec .card_wrap .thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #85c29d;
}
.card_sec .card_wrap .thumb .thumb_text {
  position: absolute;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  line-height: 1.4;
}
.card_sec .card_wrap .card_tit {
  margin-bottom: 16px;
}
.card_sec .card_footer .recruiting_wrap {
  gap: 4px;
}
.card_sec .card_footer .recruiting_wrap img {
  width: 100%;
}
.card_sec .modal li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid var(--color-grayscale-200);
}
.card_sec .modal li:first-child {
  padding-top: 0;
}
.card_sec .modal li:last-child {
  padding-bottom: 0;
}
.card_sec .modal li .flex_box_column {
  gap: 8px;
}

/* 공간예약 */

section .sub_wrap {
  margin: 96px 0px;
  text-align: center;
}

section .sub_wrap .sub_tit {
  letter-spacing: -0.56px;
  padding-top: 12px;
  /* border: 1px solid red; */
}

/* 카드 컨테이너 가로 스크롤  */
.card_container {
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.card_container .card_wrap {
  /* padding: 8px 0px; */
}

.card_container .card_wrap .card_size {
  width: 280px;
}

.card_container .card_wrap .card_size img {
  width: 100%;
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; */
}

.card_container .card_wrap li {
  margin-right: 24px;
}

.card_container::-webkit-scrollbar,
.card_sec .card_wrap::-webkit-scrollbar {
  width: 0;
}

/* loop 애니메이션 */
.cards_container {
  width: 100%;
  white-space: nowrap;
  padding-top: 48px;
  overflow: hidden;
}

.cards_container ul {
  animation: loop 20s linear infinite;
  display: flex;
}
/* .cards_container ul:hover {
  animation-play-state: paused;
} */

.card_img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  margin: 0 24px 0px 0;
  width: 384px;
  height: 240px;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.project_btn_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
  main .section1 .select_wrap li {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .advert_box {
    display: flex;
    flex-direction: column;
  }

  .advert_box .swiper {
    width: 100%;
  }

  .advert_box .swiper-slide .slide-tit {
    left: 40px;
  }

  .advert_box .swiper-slide img {
    right: 20px;
    /* display: none; */
  }

  .box_wrap {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;
  }

  .box_wrap .flex_box_column {
    width: 100%;

    padding: 24px;
  }

  /* .card_sec .card_wrap {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
  } */
}

@media screen and (max-width: 480px) {
  .advert_box .swiper-slide img {
    display: none;
  }
}
