body {
  /* overflow: hidden; */
}



/* advert_box */
.advert_box {
  gap: 10px;
  justify-content: center;
  margin-bottom: 80px;
}
/* advert */
/* .advert {
  display: flex;
  justify-content: space-between;
  margin-top: 112px;
} */
/* swiper */
.swiper {
  width: 906px;
  height: 260px;
  margin: 0 !important;
  border-radius: 8px;
}

.swiper-slide {
  overflow: hidden;
}
.swiper-slide .count {
  position: relative;
  top: 218px;
  left: 830px;
  width: 60px;
  height: 26px;
  border-radius: 999px;
  background-color: #fff;
  text-align: center;
  line-height: 26px;
}
.swiper-slide .slide-tit {
  position: relative;
  top: 35px;
  left: 80px;
}
.swiper-slide .slide-tit div {
  margin-bottom: 24px;
}
.swiper-slide img {
  position: relative;
  top: -150px;
  left: 639px;
}
.ad_left,
.ad_right {
  display: none;
}

.advert_box .swiper:hover .ad_left,
.advert_box .swiper:hover .ad_right {
  display: block;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
/* 랜덤매칭 신청&프로젝트 생성 */
.box_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.green_box {
  width: 282px;
  height: 124px;
  background-color: #2da96e;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: center;
  padding: 2rem;
}

/* container */
.container {
  margin: 0 auto;
  max-width: 1200px;
  /* padding: 0 20px; */
}

/* main */
main {
}
/* section*/
main section {
}

main section .sub_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

main section .sub_wrap .sub_tit {
  margin-bottom: 12px;
}
main section .sub_wrap .sub_tit2 {
  margin-bottom: 14px;
}

main section .select_wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
main section .select {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

main section .select .select_menu {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 65px;
  border-radius: 4px;
  background: #4f4f4f;
  box-shadow: 2px 2px 4px 0px rgba(223, 223, 223, 0.25);
  cursor: pointer;
}

/* section2 */
.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section2 .section2_wrap {
  width: 1200px;
}
.section2 .pr_tit {
  display: flex;
  line-height: 24px;
}
.section2 .pr_tit span {
  margin-left: 8px;
}
.section2 .project_subtitle_wrap {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
.section2 .card_wrap {
  display: flex;
  justify-content: space-between;
}
.section2 .card_wrap div div div {
  cursor: pointer;
}

.section2 .card_footer .Recruiting_container {
  display: flex;
}
.Recruiting_container span img {
  width: 100%;
}

.modal .group_list {
  width: 100%;
}

.modal .group_list .group {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid var(--color-grayscale-200);
}
.modal .group_list .group .group_position_member {
  display: flex;
  flex-direction: column;
}

.modal .group_list .group .group_position_member .mentor {
  padding-bottom: 8px;
}
/*  card 2*/
.section2 .card_footer .Recruiting_container2 {
  display: flex;
}
.Recruiting_container2 span img {
  width: 100%;
}

.modal2 .group_list {
  width: 100%;
}

.modal2 .group_list .group {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid var(--color-grayscale-200);
}
.modal2 .group_list .group .group_position_member {
  display: flex;
  flex-direction: column;
}

.modal2 .group_list .group .group_position_member .mentor {
  padding-bottom: 8px;
}

/* card3 */
.section2 .card_footer .Recruiting_container3 {
  display: flex;
}
.Recruiting_container3 span img {
  width: 100%;
}

.modal3 .group_list {
  width: 100%;
}

.modal3 .group_list .group {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid var(--color-grayscale-200);
}
.modal3 .group_list .group .group_position_member {
  display: flex;
  flex-direction: column;
}

.modal3 .group_list .group .group_position_member .mentor {
  padding-bottom: 8px;
}

/* card4*/
.section2 .card_footer .Recruiting_container4 {
  display: flex;
}
.Recruiting_container4 span img {
  width: 100%;
}

.modal4 .group_list {
  width: 100%;
}

.modal4 .group_list .group {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid var(--color-grayscale-200);
}
.modal4 .group_list .group .group_position_member {
  display: flex;
  flex-direction: column;
}

.modal4 .group_list .group .group_position_member .mentor {
  padding-bottom: 8px;
}
/* section3 */
.section3 {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section3 .section3_wrap {
  width: 1200px;
}
.section3 .pr_tit {
  display: flex;
  line-height: 24px;
}
.section3 .pr_tit span {
  margin-left: 8px;
}
.section3 .project_subtitle_wrap {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
.section3 .card_wrap {
  display: flex;
  justify-content: space-between;
}
.section3 .card_wrap div div div {
  cursor: pointer;
}

.section3 .card_footer .Recruiting_container5 {
  display: flex;
}
.Recruiting_container5 span img {
  width: 100%;
}

.modal5 .group_list {
  width: 100%;
}

.modal5 .group_list .group {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid var(--color-grayscale-200);
}
.modal5 .group_list .group .group_position_member {
  display: flex;
  flex-direction: column;
}

.modal5 .group_list .group .group_position_member .mentor {
  padding-bottom: 8px;
}
/*  card 6*/
.section3 .card_footer .Recruiting_container6 {
  display: flex;
}
.Recruiting_container6 span img {
  width: 100%;
}

.modal6 .group_list {
  width: 100%;
}

.modal6 .group_list .group {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid var(--color-grayscale-200);
}
.modal6 .group_list .group .group_position_member {
  display: flex;
  flex-direction: column;
}

.modal6 .group_list .group .group_position_member .mentor {
  padding-bottom: 8px;
}

/* card7 */
.section3 .card_footer .Recruiting_container7 {
  display: flex;
}
.Recruiting_container7 span img {
  width: 100%;
}

.modal7 .group_list {
  width: 100%;
}

.modal7 .group_list .group {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid var(--color-grayscale-200);
}
.modal7 .group_list .group .group_position_member {
  display: flex;
  flex-direction: column;
}

.modal7 .group_list .group .group_position_member .mentor {
  padding-bottom: 8px;
}

/* card8*/
.section3 .card_footer .Recruiting_container8 {
  display: flex;
}
.Recruiting_container8 span img {
  width: 100%;
}

.modal8 .group_list {
  width: 100%;
}

.modal8 .group_list .group {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid var(--color-grayscale-200);
}
.modal8 .group_list .group .group_position_member {
  display: flex;
  flex-direction: column;
}

.modal8 .group_list .group .group_position_member .mentor {
  padding-bottom: 8px;
}

/* section4 */
.section4 {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section4 .section4_wrap {
  width: 1200px;
}
.section4 .pr_tit {
  display: flex;
  line-height: 24px;
}
.section4 .pr_tit span {
  margin-left: 8px;
}
.section4 .project_subtitle_wrap {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
.section4 .completed_project_picture {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
