h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: var(--color-grayscale-600);
  margin-top: 88px;
  margin-bottom: 70px;
}

img {
  margin: auto;
  display: block;
}
.inner {
  width: 636px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 60px;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: var(--color-grayscale-600);
}

button {
  display: block;
  width: 384px;
  height: 48px;
  text-align: center;
  font-weight: 600;
  background-color: #2da96e;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  margin: auto;
  margin-bottom: 80px;
}
