/* footer */
.footer_content {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
}
.footer_content .left_wrap span img {
  transform: translateY(2.5px);
}
.footer_content .left_wrap span.footer_line {
  margin: 0 16px;
}
.footer_content .left_wrap span a {
  margin-left: 16px;
}
.footer_content .left_wrap span .footer_text_first {
  margin-left: 0;
}
.footer_content .right_wrap a img {
  transform: translateY(2.5px);
  margin-right: 8px;
}
.footer_content .right_wrap span.footer_line {
  margin: 0 12px;
}
@media screen and (max-width: 768px) {
  .footer_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 16px;
  }
  .footer_content .left_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer_content .right_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8px 16px;
  }
  .footer_content .left_wrap span img {
    transform: translateY(-2px);
    padding-right: 8px;
  }
  .footer_content .right_wrap a img {
    transform: translateY(-2px);
  }
}
