@import url(./root.css);
/* 폰트 */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard Variable';
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

/* black */
.main_font_BK_1 {
  color: #303030;
  font-size: 16px;
  font-weight: 400;
}

/* gray */
.main_font_GY_6 {
  color: #464656;
  font-size: 16px;
  font-weight: 400;
}
.main_font_GY_5 {
  color: #626273;
  font-size: 16px;
  font-weight: 400;
}
.main_font_GY_4 {
  color: #9090a0;
  font-size: 16px;
  font-weight: 400;
}
.main_font_GY_3 {
  color: #c6c6d0;
  font-size: 16px;
  font-weight: 400;
}
.main_font_GY_2 {
  color: #e9e9ee;
  font-size: 16px;
  font-weight: 400;
}
.main_font_GY_1 {
  color: #f5f5f9;
  font-size: 16px;
  font-weight: 400;
}

/* green  */
.main_font_GN_1 {
  color: #57dd79;
  font-size: 16px;
  font-weight: 400;
}
.main_font_GN_2 {
  color: #b3e56a;
  font-size: 16px;
  font-weight: 400;
}
.main_font_GN_3 {
  color: #54be6f;
  font-size: 16px;
  font-weight: 400;
}
.main_font_GN_4 {
  color: #c1eac2;
  font-size: 16px;
  font-weight: 400;
}
.main_font_GN_5 {
  color: #2da96e;
  font-size: 16px;
  font-weight: 400;
}

/* yellow */
.main_font_YE_5 {
  color: #fff388;
  font-size: 16px;
  font-weight: 400;
}

.modal {
  display: none;
  position: absolute;
  bottom: calc(100% - 32px);
  bottom: 10px;
  left: 110px;
  width: 186px;
  height: auto;
  padding: 24px;
  z-index: 1;

  border-radius: 4px;
  border: 1px solid #e9e9ee;
  background: #fff;
  /* 1 */
  box-shadow: 2px 2px 4px 0px rgba(211, 211, 211, 0.25);
}
