ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  width: 100%;
  height: 100%;
}

.header_wrap {
  margin: 0 auto;
  max-width: 1200px;
  /* padding: 0px 16px; */
  /* box-shadow: 2px 2px 2px 0px rgba(211, 211, 211, 0.25); */
}
.util_wrap {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.util_wrap .logo {
  height: 36px;
}
.util_wrap .logo a {
  display: inline-block;
  height: 36px;
}
.login_wrap {
  display: flex;
  align-items: center;
  gap: 24px;
}
.login_wrap .search {
  height: 36px;
  width: 210px;
  padding: 8px 24px;
  border-radius: 999px;
  background: var(--gy-1, #f5f5f9);
}
.login_wrap .search form {
  display: flex;
  height: 100%;
  gap: 10px;
}
.login_wrap .search form input {
  flex: 1;
  width: 100%;
  background: var(--gy-1, #f5f5f9);
  border: none;
}
.login_wrap .search form input:focus {
  outline: none;
}
.login_wrap .search form button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.login_wrap .search form button i {
  font-size: 14px;
  color: #626273;
}
.login_wrap .alarm {
  width: 28px;
  height: 28px;
}
.login_wrap .profile {
  width: 28px;
  height: 28px;
}
/* container2 */
.gnb_wrap {
  justify-content: space-between;
  align-items: center;
}
.gnb_wrap .gnb {
  gap: 12px;
}
.gnb_wrap .gnb li {
  padding: 8px;
  cursor: pointer;
  letter-spacing: -0.4px;
}
.gnb_wrap .gnb li.line {
  color: #c6c6d0;
  padding: 8px 0;
}
.gnb_wrap .gnb li .nav_text2 {
  letter-spacing: 1px;
}
.gnb_wrap .desc_text {
  align-items: center;
  letter-spacing: -0.4px;
}

.gnb_wrap .desc_text img {
  margin-left: 5px;
}
