:root {
  /* green scale */
  --color-main-green: #2da96e;
  /* --color-main-green-100: #57dd79; */
  --color-sub-green: #b3e56a;

  /* grey scale */
  --color-grayscale-100: #f5f5f9;
  --color-grayscale-200: #e9e9ee;
  --color-grayscale-300: #c6c6d0;
  --color-grayscale-400: #9090a0;
  --color-grayscale-500: #626273;
  --color-grayscale-600: #464656;

  /* black */
  --color-text-black: #303030;

  /* yellow */
  --color-text-yellow: #fff388;
  --color-text-yellow-600: #ffc927;

  /* bold */

  /* orange */
  --color-text-orange: #e87300;
}
