.profile_container {
  max-width: 1200px;
  margin: 0 auto;
}
.profile_container .profile_header {
  padding: 64px 16px 40px 16px;
  text-align: center;
  margin: 0 auto;
}

.profile_container .profile_contents_container {
  margin: 0 auto;
  max-width: 696px;
  padding: 40px 16px 120px 16px;

  border-top: 1px solid var(--color-grayscale-600);
}

.profile_container .profile_contents_container .profile_contents {
}

.profile_container
  .profile_contents_container
  .profile_contents
  .profile_content_wrap {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  padding-bottom: 48px;
}

.profile_container
  .profile_contents_container
  .profile_contents
  .profile_content_wrap
  .title {
  width: 144px;
  position: relative;
}

.profile_container
  .profile_contents_container
  .profile_contents
  .profile_content_wrap
  .title
  .title_box {
  padding-bottom: 16px;
}

.profile_container
  .profile_contents_container
  .profile_contents
  .profile_content_wrap
  .label_container {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
}

.profile_container
  .profile_contents_container
  .profile_contents
  .profile_content_wrap
  .label_container
  label {
  margin-right: 32px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile_container
  .profile_contents_container
  .profile_contents
  .profile_content_wrap
  .title
  .title_box {
  display: flex;
  align-items: center;
  /* position: relative; */
}

.profile_container
  .profile_contents_container
  .profile_contents
  .profile_content_wrap
  .title_box
  div {
  padding-right: 8px;
}

.profile_container
  .profile_contents_container
  .profile_contents
  .profile_content_wrap
  .title_box
  span {
  display: flex;
}

.profile_container
  .profile_contents_container
  .profile_contents
  .profile_content_wrap
  .desiredPosition_container {
  display: flex;
  width: auto;
  padding: 16px;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #e9e9ee;
}

.profile_contents_container .button_container {
  margin: 0 auto;
  max-width: 360px;
}

/* dropdown */
fieldset {
  /* width: auto; */
  width: 300px;
  border: none;
  position: relative;
  padding-bottom: 8px;
}
.input_text {
  font-size: 14px;
  padding: 16px 32px;
  border-radius: 4px;
  color: var(--color-grayscale-500);
  width: 100%;
  max-width: 300px;
  border: 1px solid var(--color-grayscale-200);
}

datalist {
  position: absolute;
  background-color: #fff;
  border: 1px solid var(--color-grayscale-200);
  border-radius: 4px;
  width: 300px;
  margin-top: 8px;
  padding: 16px 32px;
  z-index: 1;
}

option {
  background-color: white;
  padding: 12px 8px;
  color: var(--color-grayscale-600);
  font-size: 14px;
  cursor: pointer;
  z-index: 2;
}

option:hover,
.active {
  background-color: var(--color-grayscale-100);
}

/* 커스텀 스타일링된 드롭다운 */

input[type='radio'] {
  /* display: none; */
  width: auto;
  accent-color: green;
  margin-right: 8px;
}

.btn-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* padding: 16px; */
}

.btn:hover,
.btn:active {
  border: 1px solid var(--color-main-green);
  background-color: var(--color-main-green);
  color: var(--color-grayscale-100);
  cursor: pointer;
}

.btn.selected {
  border: 1px solid var(--color-main-green);
  background-color: var(--color-main-green);
  color: var(--color-grayscale-100);
}

.skip_btn {
  width: 100%;
  padding: 16px;
  background-color: var(--color-grayscale-600);
  color: var(--color-grayscale-100);
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 4px;
  cursor: pointer;
}
