.page_container {
  max-width: 1200px;
  margin: 0 auto;
}

.page_container .page_header {
  padding: 64px 16px 40px 16px;
  text-align: center;
  margin: 0 auto;
}

.page_container .page_contents_container {
  margin: 0 auto;
  max-width: 696px;
  padding: 40px 16px;
  border-top: 1px solid var(--color-grayscale-600);
}
